<!-- Page Content  -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="btn btn-info">
            <i class="fas fa-align-left"></i>
            <span>Menu Principal</span>
        </button>
        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-align-justify"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="btn btn-outline-info btn-menu" id="navbarPurchases" href="#" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Compras
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarPurchases">
                        <a class="dropdown-item" href="#">Categorias</a>
                        <a class="dropdown-item" href="#">Presentaciones</a>
                        <a class="dropdown-item" href="#">Productos</a>
                    </div>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="btn btn-outline-info btn-menu" id="navbarEmployees" href="#" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Empleados
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarEmployees">
                        <a class="dropdown-item" href="#">Categorias</a>
                        <a class="dropdown-item" href="#">Presentaciones</a>
                        <a class="dropdown-item" href="#">Productos</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="btn btn-outline-info btn-menu " id="navbarProducts" href="#" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Productos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarProducts">
                        <a class="dropdown-item" routerLink="categories">Categorias</a>
                        <a class="dropdown-item" href="#">Presentaciones</a>
                        <a class="dropdown-item" href="#">Productos</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="btn btn-outline-info btn-menu" id="navbarSales" href="#" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Ventas
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarSales">
                        <a class="dropdown-item" href="#">Categorias</a>
                        <a class="dropdown-item" href="#">Presentaciones</a>
                        <a class="dropdown-item" href="#">Productos</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="btn btn-info btn-menu" href="#">Cerrar Sesión</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
