<!-- Sidebar  -->
<nav id="sidebar">
    <div class="sidebar-header">
        <h2>La Fortaleza</h2>
    </div>

    <ul class="list-unstyled components">

        <li>
            <a href="#">Inicio</a>
        </li>
        <li>
            <a href="#purchaseSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Compras</a>
            <ul class="collapse list-unstyled" id="purchaseSubmenu">
                <li>
                    <a href="#">Compras 1</a>
                </li>
                <li>
                    <a href="#">Compras 2</a>
                </li>
                <li>
                    <a href="#">Compras 3</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#employeeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Empleados</a>
            <ul class="collapse list-unstyled" id="employeeSubmenu">
                <li>
                    <a href="#">Empleados 1</a>
                </li>
                <li>
                    <a href="#">Empleados 2</a>
                </li>
                <li>
                    <a href="#">Empleados 3</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#productSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Prodcutos</a>
            <ul class="collapse list-unstyled" id="productSubmenu">
                <li>
                    <a href="#">Categorias</a>
                </li>
                <li>
                    <a href="#">Presentaciones</a>
                </li>
                <li>
                    <a href="#">Productos</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#reportSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Reportes</a>
            <ul class="collapse list-unstyled" id="reportSubmenu">
                <li>
                    <a href="#">Reportes 1</a>
                </li>
                <li>
                    <a href="#">Reportes 2</a>
                </li>
                <li>
                    <a href="#">Reportes 3</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#salesSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Ventas</a>
            <ul class="collapse list-unstyled" id="salesSubmenu">
                <li>
                    <a href="#">Ventas 1</a>
                </li>
                <li>
                    <a href="#">Ventas 2</a>
                </li>
                <li>
                    <a href="#">Ventas 3</a>
                </li>
            </ul>
        </li>
    </ul>

    <ul class="list-unstyled CTAs">
        <li>
                <a href="#" class="btn btn-info">Cerrar Sesión</a>
        </li>
    </ul>
</nav>